.header_container{
    
    display:flex;
    justify-content: space-around;
    align-items: center;
    
    img{
        width: 100px;
    }
    p{
        display: flex;
        flex-direction: column;
        padding: 15px;
        font-family: 'Spicy Rice', sans-serif;
    }
    div{
        display: flex;
        padding: 15px;
    }
    .header_buttons{
        display: flex;
        flex-direction: column;
    }
}