.slidet_image_wrap{
  display: flex;
  justify-content: center;
  width: 100%;
  img{
      display: flex;
      height: auto;
      width: 100%;
      margin: auto;
    }
}
.slick-slider{
  width: 100%;
  height: inherit;
  margin: -1 auto;
  margin-bottom: -3px;
  left: 0;
  overflow: hidden;
}
.slick-track{
  display: flex;
  align-items: center;
}
.variable-width .slick-slide p {
  background: blue;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
@media (max-width: 768px) {

  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
}
.slick-vertical .slick-slide {
  height: 180px;
}
.slider_image_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  .slider_image_buttons{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000091;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s;
  }
}
.slider_image_wrap:hover .slider_image_buttons{
  opacity: 1;
  background: #00000091;
}